.menu{
    display: flex;
    flex-direction: column;
    width: 7rem;
    height: 7rem;
    align-items: center;
    padding: 1rem 1rem;
    cursor: pointer;

    img{
        height: 4.5rem;
        width:4.5rem;
    }
    .name{
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.5rem 0.5rem;
        
    }

    .status{
        color: skyblue;
        font-size: 0.7rem;
        font-weight: 700;
    }
}