.sidemenu{
    display: flex;
    flex-direction: column;
    width: 15rem;
    height:50rem;
    //background-color: yellow;
    margin-top: 5rem;
    overflow: scroll;
    
    .side-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 1rem;
        position: fixed;
        margin-left: 1.5rem;
        z-index: 1;
        background-color: white;
        cursor: pointer;

        img{
            height: 5.5rem;
            width: 5.5rem;
        }

        .everyday{
            display: flex;
            margin-top: -1rem;

            .prices{
                color: gray;
                font-size: 0.8rem;
                margin: 0.3rem 0;
            }

            .arrow{
                color: rgb(188, 188, 188);
               // margin-top: 0.2rem;
                padding: 0.2rem 0.3rem
            }
        }

        .satisfaction{
            display: flex;

            img{
                height: 0.7rem;
                width: 0.7rem;
                margin: 0.1rem;
            }

            .gurantee{
                color: rgb(67, 135, 212);
                font-size: 0.8rem;
            }

            .arrow{
                color: rgb(188, 188, 188);
                margin-top: -0.1rem;
                margin-left: 0.2rem;
                
            }            
        }
    }

    .side-center{
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        margin-left: 0.5rem;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 1rem;
        margin-top: 13rem;
        position: fixed;
        z-index: 1;
        background-color: white;
        width: 11rem;
        cursor: pointer;

        .center-details{
            display: flex;
            padding: 0.5rem 0.1rem;

            .icon{
                height:1.5rem;
                width:1.5rem;
                //margin-left: 1rem;
            }
            .detail-name{
                margin-left: 1rem;
                margin-top: 0.4rem;
                color: rgb(52, 53, 56);
                font-weight: 600;
            }
        }
    }

    .side-footer{
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        margin-left: 0.5rem;
        margin-top: 27rem;
        z-index: -1;
        cursor: pointer;
      

        .footer-details{
            display: flex;
            flex-direction: column;

            .footer-list {
                padding: 1rem 0;
            }
        }
    }

}