.new-order-list{
    display: flex;
    flex-direction: column;
    width: 100%;
   
    h2{
        margin-left: 4rem;
    }

    .list{
        display: flex;
        margin-right: 1rem;
        width: 100%;
        
    }
}