//Detail modal css******
body.active-modal {
    overflow-y: hidden;
}

.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 20;
    overflow-y: auto;


    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 20;
        background: rgba(49, 49, 49, 0.8);
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        background: white;
        padding: 14px 28px;
        border-radius: 3px;
        width: 80rem;
        height: 50rem;
        z-index: 50;
        display: flex;
        flex-direction: column;

        .item-modal {
            display: flex;
            margin-top: 2.5rem;

            .item-detail {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                margin-left: 10rem;
                height: 15rem;
                width: 50rem;

                .i-m-name {
                    color: rgb(52, 53, 56);
                    font-size: 2rem;
                    line-height: 28px;
                    font-weight: bold;
                }

                .i-m-weight {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: rgb(114, 118, 126);
                }

                .i-m-price {
                    margin-top: 1rem;
                    font-size: 2rem;
                    font-weight: bold;
                    color: rgb(52, 53, 56);
                }

                .drop-button{
                    display: flex;
                    margin-top: 2rem;

                    .quantity-box{
                        padding: 1rem;
                        padding-left: 1.5rem;
                        border-radius: 20px;
                        font-weight: 600;
                        font-size: 1.2rem;
                        background-color: rgb(36, 162, 36);
                        color: white;
                        width: 4rem;
                    }

                    .button{
                        background-color: rgb(36, 162, 36);
                        padding: 1rem;
                        border-radius: 20px;
                        width: 20rem;
                        margin-left: 1.5rem;
                        color: white;
                        font-weight: 600;
                        font-size: 1.2rem;
                        cursor: pointer;
                    }



                    .hidden{
                        visibility: hidden;
                    }
                }

                .satisfaction{
                    display: flex;
                    margin-top: 4rem;

                    img{
                        height: 3rem;
                        width: 3rem;
                    }
                    .satisfaction-detail{
                        display: flex;
                        flex-direction: column;
                        margin-left: 0.5rem;
                    }
                }

            }

        }
        .details{
            margin-top: 5rem;
            margin-left: 1rem;

            .d-head{
                color: rgb(52, 53, 56);
                font-size: 1.3rem;
            }

            .d-detail{
                margin-top: 0.5rem;
                color: rgb(164, 158, 158);
            }
        }

    }

    .close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 7px;
    }
}


//item component css*******
.item {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    position: relative;
    cursor: pointer;

    img {
        width: 10rem;
        height: 10rem;
    }

    .add-button {
        width: 4.5rem;
        height: 2.5rem;
        border-radius: 20px;
        position: absolute;
        margin-left: 4.7rem;
        margin-top: 0.5rem;
        border: none;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        background-color: white;

    }

    .add-to-cart-button {
        width: 7rem;
        height: 2.5rem;
        border-radius: 20px;
        position: absolute;
        margin-left: 4rem;
        margin-top: 0.5rem;
        border: none;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        z-index: 1;
        background-color: white;

    }

    .main-button {

        width: 6rem;
        height: 2.5rem;
        border-radius: 20px;
        position: absolute;
        margin-left: 4rem;
        margin-top: 0.5rem;
        border: none;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        background-color: white;
        padding-left: 0.5rem;
        padding-top: 0.2rem;

        .delete {
            width: 1.5rem;
            height: 2rem;
        }

        .quantity {
            width: 2rem;
            height: 1rem;
            margin-top: 0.3rem;
        }

        .add {
            width: 1.4rem;
            height: 2rem;
        }
    }

    .hidden {
        visibility: hidden;
    }

    .item-details {
        display: flex;
        flex-direction: column;
        //position: absolute;
        //margin-top: 10rem;
        width: 10rem;


        .price {
            font-size: 1rem;
            font-weight: 600;
            padding: 0.2rem 0;
        }

        .type {
            color: rgb(43, 120, 198);
            font-size: 0.75rem;
            font-weight: 600;
            padding: 0.2rem 0;
        }

        .name {
            color: rgb(52, 53, 56);
            font-size: 0.9rem;
            font-weight: normal;
        }

        .weight {
            font-size: 0.8rem;
            font-weight: 600;
            color: rgb(114, 118, 126);
        }
    }

}