.neighborhood{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    cursor: pointer;


    img{
        height:5.5rem;
        width: 6.5rem;
        padding: 1rem 1rem;
        border-radius: 35px;
    }
    .name{
        width:6rem;
        height: auto;
        font-size: 0.7rem;
        font-weight: 600;
        padding: 0.5rem 0.5rem;
        margin-left: 1rem;
        margin-top: -1rem;
        text-align: center;
    }

}